<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384460196190-s6v9u65jvosbts2fmqa7q3eqaectug3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384460196190-s6v9u65jvosbts2fmqa7q3eqaectug3k</string>
	<key>API_KEY</key>
	<string>AIzaSyBlfhh6LMNIB_wMDOx9E4qOtoUWnfECj44</string>
	<key>GCM_SENDER_ID</key>
	<string>384460196190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niguibru.LoveEat</string>
	<key>PROJECT_ID</key>
	<string>love-eat</string>
	<key>STORAGE_BUCKET</key>
	<string>love-eat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384460196190:ios:888cb30aa618b1f397a7cf</string>
</dict>
</plist>